In [1]:
import pandas as pd


df = pd.read_csv('../data/cleaned-data.csv')
display(df)

,id_key,no,contest_category,contest_name,year,link,pdf,post_rendered,post_canonical,label
0,1,1,International Contest,imo,2023imo,https://artofproblemsolving.com/community/c338...,https://artofproblemsolving.com/downloads/prin...,"Determine all composite integers <img src=""//l...",Determine all composite integers $n>1$ that sa...,NaN
1,2,2,International Contest,imo,2023imo,https://artofproblemsolving.com/community/c338...,https://artofproblemsolving.com/downloads/prin...,"Let <img src=""//latex.artofproblemsolving.com/...",Let $ABC$ be an acute-angled triangle with $AB...,NaN
2,3,3,International Contest,imo,2023imo,https://artofproblemsolving.com/community/c338...,https://artofproblemsolving.com/downloads/prin...,"For each integer <span style=""white-space:pre;...","For each integer $k \geqslant 2$, determine al...",NaN
3,4,4,International Contest,imo,2023imo,https://artofproblemsolving.com/community/c338...,https://artofproblemsolving.com/downloads/prin...,"Let <img src=""//latex.artofproblemsolving.com/...","Let $x_1,x_2,\dots,x_{2023}$ be pairwise diffe...",NaN
4,5,5,International Contest,imo,2023imo,https://artofproblemsolving.com/community/c338...,https://artofproblemsolving.com/downloads/prin...,"Let <img src=""//latex.artofproblemsolving.com/...",Let $n$ be a positive integer. A Japanese tria...,NaN
...,...,...,...,...,...,...,...,...,...,...
10963,10964,4,International Contest,tuymaada_olympiad,1994_tuymaada_olympiad,https://artofproblemsolving.com/community/c866...,https://artofproblemsolving.com/downloads/prin...,Let a convex polyhedron be given with volume <...,Let a convex polyhedron be given with volume $...,NaN
10964,10965,5,International Contest,tuymaada_olympiad,1994_tuymaada_olympiad,https://artofproblemsolving.com/community/c866...,https://artofproblemsolving.com/downloads/prin...,"Find the smallest natural number <img src=""//l...",Find the smallest natural number $n$ for which...,NaN
10965,10966,6,International Contest,tuymaada_olympiad,1994_tuymaada_olympiad,https://artofproblemsolving.com/community/c866...,https://artofproblemsolving.com/downloads/prin...,"In three houses <img src=""//latex.artofproblem...","In three houses $A,B$ and $C$, forming a right...",NaN
10966,10967,7,International Contest,tuymaada_olympiad,1994_tuymaada_olympiad,https://artofproblemsolving.com/community/c866...,https://artofproblemsolving.com/downloads/prin...,Prove that there are infinitely many natural n...,Prove that there are infinitely many natural n...,NaN
10967,10968,8,International Contest,tuymaada_olympiad,1994_tuymaada_olympiad,https://artofproblemsolving.com/community/c866...,https://artofproblemsolving.com/downloads/prin...,Prove that in space there is a sphere containi...,Prove that in space there is a sphere containi...,NaN

In [2]:
import db


db.create_table(new_table_name="data_soal")

FUNCTION create_table()
Connected to MySQL
Table "data_soal" created successfully
MySQL connection is closed

In [18]:
df.loc[df['id_key'] == 10457].to_dict(orient="records")[0]

{'id_key': 10457,
 'no': '5',
 'contest_category': 'International Contest',
 'contest_name': 'tournament_of_towns',
 'year': '2019_tournament_of_towns',
 'link': 'https://artofproblemsolving.com/community/c1094597_2019_tournament_of_towns',
 'pdf': 'https://artofproblemsolving.com/downloads/printable_post_collections/1094597',
 'post_rendered': 'Basil has an unrestricted supply of straight bricks <img src="//latex.artofproblemsolving.com/8/5/7/85788b547e0683ed79ced8cb5f2a841e38e34493.png" class="latex" alt="$1 \\times 1 \\times 3$" style="vertical-align: 0px" width="71" height="13"> and Γ-shape bricks made of three cubes <span style="white-space:pre;"><img src="//latex.artofproblemsolving.com/c/4/7/c47c1dbfeca0fab07bb3183abe9c3de4d0adf464.png" class="latex" alt="$1\\times 1\\times 1$" style="vertical-align: 0px" width="70" height="12">.</span> Basil filled a whole box <img src="//latex.artofproblemsolving.com/c/e/3/ce35348166afa6c7f7732690b3951800007bdcbf.png" class="latex" alt="$m \\times n \\times k$" width="81" height="12"> with these bricks, where <img src="//latex.artofproblemsolving.com/6/8/5/6851ca945f78b10a85c14fc57fbaf75e69f57241.png" class="latex" alt="$m, n$" style="vertical-align: -3px" width="34" height="11"> and <img src="//latex.artofproblemsolving.com/8/c/3/8c325612684d41304b9751c175df7bcc0f61f64f.png" class="latex" alt="$k$" width="9" height="12"> are integers greater than <span style="white-space:pre;"><img src="//latex.artofproblemsolving.com/d/c/e/dce34f4dfb2406144304ad0d6106c5382ddd1446.png" class="latex" alt="$1$" style="vertical-align: 0px" width="8" height="12">.</span> Prove that it was sufficient to use only Γ-shape bricks.<br>\n<br>\n(Mikhail Evdokimov)',
 'post_canonical': 'Basil has an unrestricted supply of straight bricks $1 \\times 1 \\times 3$ and Γ-shape bricks made of three cubes $1\\times 1\\times 1$. Basil filled a whole box $m \\times n \\times k$ with these bricks, where $m, n$ and $k$ are integers greater than $1$. Prove that it was sufficient to use only Γ-shape bricks. (Mikhail Evdokimov)',
 'label': nan}

In [7]:
num_rows = df.shape[0]
for i in range(num_rows):
    data_to_insert = df.loc[i].to_dict()
    
    if type(data_to_insert['label']) == float:
        data_to_insert['label'] = None
    
    db.insert_into(table="data_soal", data=data_to_insert)

FUNCTION insert_into()
Row inserted successfully (id_key=1)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=2)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=3)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=4)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=5)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=6)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=7)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=8)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=9)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=10)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=11)
MySQL connection is closed

FUNCTION insert_into()
Error:
1366 (HY000): Incorrect string value: '\xC4\x87' for column 'post_rendered' at row 1
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=13)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=14)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=15)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=16)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=17)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=18)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=19)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=20)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=21)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=22)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=23)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=24)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=25)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=26)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=27)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=28)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=29)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=30)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=31)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=32)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=33)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=34)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=35)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=36)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=37)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=38)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=39)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=40)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=41)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=42)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=43)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=44)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=45)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=46)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=47)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=48)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=49)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=50)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=51)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=52)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=53)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=54)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=55)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=56)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=57)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=58)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=59)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=60)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=61)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=62)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=63)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=64)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=65)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=66)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=67)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=68)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=69)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=70)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=71)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=72)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=73)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=74)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=75)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=76)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=77)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=78)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=79)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=80)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=81)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=82)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=83)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=84)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=85)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=86)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=87)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=88)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=89)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=90)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=91)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=92)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=93)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=94)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=95)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=96)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=97)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=98)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=99)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=100)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=101)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=102)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=103)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=104)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=105)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=106)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=107)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=108)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=109)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=110)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=111)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=112)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=113)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=114)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=115)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=116)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=117)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=118)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=119)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=120)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=121)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=122)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=123)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=124)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=125)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=126)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=127)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=128)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=129)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=130)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=131)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=132)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=133)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=134)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=135)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=136)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=137)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=138)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=139)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=140)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=141)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=142)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=143)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=144)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=145)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=146)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=147)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=148)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=149)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=150)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=151)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=152)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=153)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=154)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=155)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=156)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=157)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=158)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=159)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=160)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=161)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=162)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=163)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=164)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=165)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=166)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=167)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=168)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=169)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=170)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=171)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=172)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=173)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=174)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=175)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=176)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=177)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=178)
MySQL connection is closed

FUNCTION insert_into()
Error:
1366 (HY000): Incorrect string value: '\xE2\x88\x921. ...' for column 'post_rendered' at row 1
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=180)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=181)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=182)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=183)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=184)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=185)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=186)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=187)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=188)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=189)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=190)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=191)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=192)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=193)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=194)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=195)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=196)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=197)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=198)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=199)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=200)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=201)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=202)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=203)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=204)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=205)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=206)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=207)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=208)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=209)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=210)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=211)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=212)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=213)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=214)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=215)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=216)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=217)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=218)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=219)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=220)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=221)
MySQL connection is closed

FUNCTION insert_into()
Row inserted successfully (id_key=222)
MySQL connection is closed
